.anjuta
Debug
.anjuta_sym_db.db
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
stamp-h1
src/.deps
libtool
src/*.o
src/telepathy_kindling
